* {
    margin: 0;
    padding: 0;
}
body {
    background-color: rgb(245, 245, 245);
    font-family: "Raleway", sans-serif;
    line-height: 1.5;
}
.header {
    text-align: center;
    padding-top: 32px;
    padding-bottom: 32px;
    font-size: 20px;
}
.header h1 {
    font-size: 40px;
}
.header p {
    margin: 15px 0px;
}
.header span {
    background-color: black;
    color: rgb(255, 255, 255);
    display: inline-block;
    text-align: center;
    padding-left: 8px;
    padding-right: 8px;
}
@media (min-width: 990px){
.center {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    max-width: 1700px;
}
}
@media (min-width: 990px){
.content {
    width: 65%;
}
}
.blog {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    margin: 16px;
    background-color: #ffffff;
}
img {
    width: 100%;
}
.text {
    padding: 0.15px 16px;
    font-size: 20px;
}
h1, h2, h3, h5, h6 {
    margin: 10px 0;
}
.text p {
    float: right;
    margin-top: 20px;
}
.text button {
    margin: 15px 0px;
    border: 1px solid #cccccc;
    padding: 12px 24px;
    background-color: #ffffff;
}
.text button a {
    text-decoration: none;
    color: black;
}
.text p span {
    background-color: black;
    color: rgb(255, 255, 255);
    padding-left: 8px;
    padding-right: 8px;
}
@media (min-width: 990px){
.menu {
    width: 35%;
}
}
.top {
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
    margin: 16px;
    background-color: #ffffff;
}
.top img {
    float: left;
    margin-right: 10px;
}
.top li:hover{
    background: grey;
}
h4 {
    font-size: 20px;
    background-color: #e7e4e4;
    padding: 16px;
    font-weight: 400;
}
.top ul li {
    list-style-type: none;
    padding: 16px;
    border-bottom: 1px solid #ddd;
}
.tags p {
    padding: 10px 16px;
}
.tags span {
    margin-bottom: 16px;
    display: inline-block;
    background-color: rgb(219, 219, 221);
    padding: 4px;
    text-align: center;
}
footer {
    margin-top: 16px;
    background-color: #616161;
    padding: 32px 16px;
}
footer button {
    padding: 12px 24px;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: 10px;
}
footer button:hover{
    background: wheat;
    color: black;
}
.muc{
    height: 80px;
    background: rgb(175, 168, 168);
    padding: 10px;
}
